# https://github.com/GoogleCloudPlatform/appengine-guestbook-java/blob/master/.gitignore
hotspot.log
*.iml
*.ipr
*.iws
.gradle/
build/
target/
classes/
/var
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~

#
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#IDEA specifics
.idea
*.iml
/.classpath
/.project
/.settings
/archive/yamlold
/deploy.cmd
/start.cmd
/src/main/webapp/css/combined*
